.nav {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgb(124, 124, 124);
}

.nav .util {
  margin-right: 150px;
  display: flex;
  align-items: center;
}

.nav .util input,
input {
  width: 200px;
  height: 16px;
  border-radius: 9px;
  border: none;
  background-color: rgb(243 251 252);

}

.nav .util button,
button {
  /* width: 100px; */
  padding: 0 20px;
  height: 36px;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}


.App {
  width: 100vw;
  height: 110%;
  max-height: 150vh;
  z-index: 0;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  /* background-image: url('https://cdn.wallpapersafari.com/56/61/p8bDwL.jpg'); */
  background-image: url('../img/bg2.jpg');
  opacity: 0.4;
  z-index: -1;
}

.mainCtn::-webkit-scrollbar {
  width: 0;

}

.mainCtn {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: max-content;
  width: 90%;
  height: 80vh;
  margin: auto;
  border-radius: 13px;
  z-index: 5;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 100, 122);
  align-content: flex-start;

}

.mainCtn h5 {
  margin: 0px;
}

.mainCtn .text {
  height: 100px;
  align-items: center;
}


.main {
  width: 23%;
  margin: 10px;
  background-color: rgb(206, 240, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 7;

}

.main .text {
  align-content: center;
  width: 60%;

}

.main .text span {
  display: block;
  font-size: 12px;
}



input {
  width: 50px;
  height: 30px;
  padding: 10px;
  margin: 10px;
}

.del svg {
  fill: rgb(0, 167, 204);
  margin: 10px;
}

.form {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  width: 90vw;
  box-sizing: border-box;
  padding-left: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  color: rgb(4, 101, 122);
}

.form input {
  height: 20px;
  width: 200px;
  background-color: rgb(243, 251, 252);
}

.form button {
  background-color: rgb(0, 167, 204);
  color: white;
  font-weight: bolder;

}

input[type=checkbox] {
  accent-color: rgb(0, 167, 204);
  color: white;
}

.empty {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  opacity: .3;
  width: 100%;
  margin-top: 25vh;
  font-family: "Garamond", Times, serif;
}

/* ===========================================
 */
.checkbox-wrapper-12 {
  position: relative;
  width: 34px;
  margin-left: 7px;
}

.checkbox-wrapper-12>svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(50vh - 12px);
  left: calc(50vw - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: url("#goo-12");
  filter: url("#goo-12");
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked+label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked+label+svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -18px 0 -8px rgb(0, 167, 204), 16px -8px 0 -8px rgb(0, 167, 204), 16px 8px 0 -8px rgb(0, 167, 204), 0 18px 0 -8px rgb(0, 167, 204), -16px 8px 0 -8px rgb(0, 167, 204), -16px -8px 0 -8px rgb(0, 167, 204);
  }

  100% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -18px 0 -8px rgb(0, 167, 204), 16px -8px 0 -8px rgb(0, 167, 204), 16px 8px 0 -8px rgb(0, 167, 204), 0 18px 0 -8px rgb(0, 167, 204), -16px 8px 0 -8px rgb(0, 167, 204), -16px -8px 0 -8px rgb(0, 167, 204);
  }

  100% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -18px 0 -8px rgb(0, 167, 204), 16px -8px 0 -8px rgb(0, 167, 204), 16px 8px 0 -8px rgb(0, 167, 204), 0 18px 0 -8px rgb(0, 167, 204), -16px 8px 0 -8px rgb(0, 167, 204), -16px -8px 0 -8px rgb(0, 167, 204);
  }

  100% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -18px 0 -8px rgb(0, 167, 204), 16px -8px 0 -8px rgb(0, 167, 204), 16px 8px 0 -8px rgb(0, 167, 204), 0 18px 0 -8px rgb(0, 167, 204), -16px 8px 0 -8px rgb(0, 167, 204), -16px -8px 0 -8px rgb(0, 167, 204);
  }

  100% {
    background: rgb(0, 167, 204);
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}